---
import Layout from '../components/Layout.astro'
import IconLink from '../components/IconLink.astro'
import NavItem from '../components/NavItem.astro'
---

<Layout>
  <header
    class="px-4 w-full max-w-70ch mx-auto mb-28 md:mb-0 pt-4 md:max-h-100dvh md:py-32 md:pl-18 md:flex md:flex-col md:justify-between">
    <div>
      <h1
        class="font-sans text-2.05rem mt-6 mb-2 md:text-3.052rem font-600 text-violet-1">
        Alastair Herd
      </h1>
      <h2 class="text-1.25rem mt-0 font-500 text-violet-1">
        Senior Front-End Engineer at Dunelm
      </h2>
      <p class="text-balance text-1rem md:leading-[1.75]">
        I transform ideas into accessible, performant and human-centered
        experiences for the web.
      </p>
      <nav aria-label="In-page main jump links">
        <ul
          class="text-sm uppercase font-700 tracking-widest mt-24 flex space-x-8">
          <NavItem to="#about">About</NavItem>
          <NavItem to="#blog">Blog</NavItem>
          <NavItem to="#uses">Uses</NavItem>
        </ul>
      </nav>
    </div>
    <ul class="flex space-x-5 mt-16 justify-self-end">
      <IconLink
        title="X.com"
        url="https://x.com/alshdotme"
        icon="i-fa6-brands-x-twitter"
      />
      <IconLink
        title="LinkedIn"
        url="https://www.linkedin.com/in/alsh"
        icon="i-fa6-brands-linkedin"
      />
      <IconLink
        title="GitHub"
        url="https://github.com/alshdotme"
        icon="i-fa6-brands-github"
      />
      <IconLink
        title="Instagram"
        url="https://www.instagram.com/alstrhrd/"
        icon="i-fa6-brands-instagram"
      />
    </ul>
  </header>
  <main class="max-w-31ch md:max-w-70ch m-auto"></main>
</Layout>
