---
type Props = {
  title: string
  url: string
  icon: string
}
const { title, url, icon } = Astro.props
---

<li class="">
  <a href={url} class={`${icon} text-zinc-5 hover:text-zinc-1 active:text-zinc-1 focus-visible:text-zinc-1 transition-colors duration-150`}>
    <span class="sr-only">{title}</span>
  </a>
</li>
