---
type Props = {
  to: string
}
const { to } = Astro.props
---

<li class="relative">
  <a
    class="flex items-center py-3 before:transition-opacity before:duration-250 before:opacity-0 hover:before:opacity-18 before:rounded-full before:w-8 before:h-8 before:border-3 before:border-violet-1 before:absolute before:inset-0 before:m-auto before:content-[''] before:-z-1"
    href={to}><slot /></a
  >
</li>
